:root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
}

.superInput {
    background: white;
}

.errorInput {
    border: 2px solid red;
    background: lightpink;
    opacity: 0.5;
}

.error {
    color: red;
}