.greeting {
    display: flex;
    justify-content: center;
    align-content: center;
}
.greeting_error {
    color: red;
}
.homeworkTitle {
}
.inputClass {
    display: flex;
}

.error {
    color: red;
    border: 1px solid red;
}
input {
    background-color: white;
    border: none;
}
input:focus {
    outline: none;
    border: #2196F3 solid 2px;
    background-color: white;

}
.errorInput {
    background: pink;
    color: black;
}

button {
    margin-left: 5px;
    background: #2196F3;
    color: white;
    outline: none;
}

.count {
    margin-left: 5px;
    font-weight: bold;
    color: #2196F3;
}